<h1>New Event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.text_field :start %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<br/>


