<div id="timeline-with-buttons">
 
    <div id="newBgPopup" class="bgPopup"></div>
    <div id="newPopup" class="popup">
      <a id="newPopupClose" class="popupClose">x</a>  
      <%= render :partial => "new" %> 
    </div>

    <div id="editBgPopup" class="bgPopup"></div>
    <div id="editPopup" class="popup">
      <a id="editPopupClose" class="popupClose">x</a>  
      <%= render :partial => "edit" %> 
    </div>

    <table style="border-spacing:0px 0px;"}><tr>
	<td>
	  <div id="my-timeline"></div>
	</td>
	<td>
	  <div id="buttons">
	    <div id="new-event-button"></div>
	    <div id="button-terminator"></div>
	    <div class="clear"></div>
	  </div>
	</td>
    </tr></table>

    <noscript>
    This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
    </noscript>
</div>

    <script type="text/javascript">
      function show_popup(name) {
        $('#'+name+'BgPopup').fadeIn('fast');
        $('#'+name+'Popup').fadeIn('fast');
      }
      function close_popup(name) {
        $('#'+name+'BgPopup').fadeOut('fast');
        $('#'+name+'Popup').fadeOut('fast');
      }

      $(document).ready(function(){  
        $("#new-event-button").click(function() {
          show_popup("new");
        });
        $("#newPopupClose").click(function(){
          close_popup("new");
        });
        /* bind click for any edit event elements added now or in future */
        $(".edit-event").live('click', function() { 
          event_id = this.id.match(/edit-event-(\d+)/)[1];
          jQuery.ajax( {
            async: false,
            url: "/events/edit/" + event_id,
            success: function(data) {
              $("#edit_event_form > #event_name").val(data["event"]["name"]);
              var start = Date.parse(data["event"]["start"]);
              alert(start);
              $("#edit_event_form > #event_start").val(start);
              if (data["event"]["end"] != null)
              {
                var end = new Date(data["event"]["end"]);
                $("#edit_event_form > #event_end").val(data["event"]["end"]);
              }
              if (data["event"]["description"] != null)
              {
                $("#edit_event_form > #event_description").val(data["event"]["description"]);
              }
            }
          } );
          show_popup("edit");
        });
        $("#editPopupClose").click(function(){
          close_popup("edit");
        });
      });
    </script>

    <script>
      var tl;
      function onLoad() {
        var eventSource = new Timeline.DefaultEventSource();
        var theme = Timeline.ClassicTheme.create(); // create the theme
        theme.event.track.gap = 8;
        theme.event.track.height = 1;
        theme.event.duration.color = "#998000";
        theme.event.instant.icon = "images/green-circle.png";
        //theme.event.label.lineColor = "#225915"; - NOT WORKING
        theme.event.label.width = 400;
        theme.event.label.offsetFromLine = 7;

        var bandInfos = [
          Timeline.createBandInfo({
             eventSource:    eventSource,
             date:           "<%= @anchorDate %>",
             width:          "85%", 
             intervalUnit:   Timeline.DateTime.<%= @intervalUnit1 %>,
             intervalPixels: 50,
             theme:          theme,
             backgroundColor: "#D8CAA8"
             }),
          Timeline.createBandInfo({
             date:           "<%= @anchorDate %>",
             eventSource:    eventSource,
             width:          "15%", 
             intervalUnit:   Timeline.DateTime.<%= @intervalUnit2 %>,
             intervalPixels: 100,
             theme:          theme,
             layout:         'overview'
             })
        ];
        bandInfos[1].syncWith = 0;
        bandInfos[1].highlight = true;

        tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);
        Timeline.loadXML("simile.gen.xml", function(xml, url) { eventSource.loadXML(xml, url); });
      }

      var resizeTimerID = null;
      function onResize() {
         if (resizeTimerID == null) {
             resizeTimerID = window.setTimeout(function() {
                 resizeTimerID = null;
                 tl.layout();
             }, 500);
         }
      }
    </script>
