<div class="popupform">
<h1>Edit Event</h1>
<p>Edit details of the event</p>

<% form_for :event, :url => { :action => "update" }, :html => { :id => "edit_event_form" }  do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field :id %>

    <%= f.label :name, "Title <span class='small'>Short title for event</span>" %>
    <%= f.text_field :name  %>

    <%= f.label :start, "Start <span class='small'>(MM/DD/YYYY)</span>" %>
    <%= f.text_field :start %>

    <%= f.label :end, "End <span class='small'>(MM/DD/YYYY)</span>" %>
    <%= f.text_field :end %>

    <%= f.label :description, "Description <span class='small'>Details of event</span>" %>
    <%= f.text_field :description %>
    
    <div align="center">
    <%= f.submit "Update", :class => "popupform_button" %>
    </div>
<% end %>

<div class="spacer"></div>
</div>
