<div class="popupform">
<h1>New Event</h1>
<p>Enter details of the event</p>

<div id="create_notice"></div>

<% form_for Event.new, :remote => true do |f| %>

<table>
  <tr>
    <td><%= f.label :name, "Title" %><span class='small'>Short title for event</span></td>
    <td><%= f.text_field :name  %></td>
  </tr>
  <tr>
    <td><%= f.label :start, "Start" %><span class='small'>(MM/DD/YYYY)</span></td>
    <td><%= f.text_field :start, :class => "historicaldate" %></td>
  </tr>
  <tr>
    <td><%= f.label :end, "End" %><span class='small'>(MM/DD/YYYY)</span></td>
    <td><%= f.text_field :end, :class => "historicaldate" %></td>
  </tr>
  <tr>
    <td><%= f.label :description, "Description" %><span class='small'>Details of event</span></td>
    <td><%= f.text_field :description %></td>
  </tr>
</table>

    <div align="center">
    <%= f.submit "Add", :class => "popupform_button" %>
    </div>
<% end %>

<div class="spacer"></div>
</div>
