<div id="timeline-with-buttons">
 
    <div id="newBgPopup" class="bgPopup"></div>
    <div id="newPopup" class="popup">
      <a id="newPopupClose" class="popupClose">x</a>  
      <%= render :partial => "new" %> 
    </div>

    <div id="editBgPopup" class="bgPopup"></div>
    <div id="editPopup" class="popup">
      <a id="editPopupClose" class="popupClose">x</a>  
      <%= render :partial => "edit" %> 
    </div>

    <div id="deleteBgPopup" class="bgPopup"></div>
    <div id="deletePopup" class="popup">
      <a id="deletePopupClose" class="popupClose">x</a>  
      <%= render :partial => "delete" %> 
    </div>

    <table style="border-spacing:0px 0px;"}><tr>
	<td>
	  <a href="?move=left"><img src="/images/arrow-left.png"></a>
	</td>
	<td>
	  <div id="my-timeline"></div>
	</td>
	<td>
	  <div id="buttons">
	    <div id="new-event-button"></div>
	    <a href="?move=in"><div id="zoomin-button"></div></a>
	    <a href="?move=out"><div id="zoomout-button"></div></a>
	    <div id="button-terminator"></div>
	    <div class="clear"></div>
	  </div>
	</td>
	<td>
	  <a href="?move=right"><img src="/images/arrow-right.png"></a>
	</td>
    </tr></table>

    <noscript>
    This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
    </noscript>
</div>

    <script type="text/javascript">
      function show_popup(name) {
        $('#'+name+'BgPopup').fadeIn('fast');
        $('#'+name+'Popup').fadeIn('fast');
      }
      function close_popup(name) {
        $('#'+name+'BgPopup').fadeOut('fast');
        $('#'+name+'Popup').fadeOut('fast');
      }

      $(document).ready(function(){  
        $("#new-event-button").click(function() {
          show_popup("new");
        });

        $("#newPopupClose").click(function() {
          close_popup("new");
        });

        /* bind click for any edit event elements added now or in future */
        $(".edit-event").live('click', function() { 
          event_id = this.id.match(/edit-event-(\d+)/)[1];
          jQuery.ajax( {
            async: false,
            url: "/events/get/" + event_id,
            success: function(data) {
              $("#edit_event_form #event_id").val(data["event"]["id"]);
              $("#edit_event_form #event_name").val(data["event"]["name"]);
              $("#edit_event_form #event_start").val(data["event"]["start"]);
              if (data["event"]["end"] != null) {
                $("#edit_event_form #event_end").val(data["event"]["end"]);
              }
              if (data["event"]["description"] != null) {
                $("#edit_event_form #event_description").val(data["event"]["description"]);
              }
            }
          } );
          show_popup("edit");
        });

        $("#editPopupClose").click(function() {
          close_popup("edit");
        });

        $(".delete-event").live('click', function() {
          event_id = this.id.match(/delete-event-(\d+)/)[1];
          $("#delete_event_form #event_id").val(event_id);
          show_popup("delete");
         });

        $("#deletePopupClose").click(function() {
          close_popup("delete");
        });

        $("#delete_event_form #event_delete_cancel").click(function() {
          close_popup("delete");
        });

        $(".historicaldate").attr("title", "15 Aug 1947<br>December 1755<br>1005 AD<br>232 BC");
        $(".historicaldate").tooltip({ position: "center right" });

      });
    </script>
    
    <script>
      var tl;
      function onLoad() {
        // create the simile timeline
        var eventSource = new Timeline.DefaultEventSource();
        var theme = Timeline.ClassicTheme.create(); // create the theme
        theme.event.track.gap = 8;
        theme.event.track.height = 1;
        theme.event.duration.color = "#998000";
        theme.event.instant.icon = "images/green-circle.png";
        //theme.event.label.lineColor = "#225915"; - NOT WORKING
        theme.event.label.width = 400;
        theme.event.label.offsetFromLine = 7;

        var bandInfos = [
          Timeline.createBandInfo({
             eventSource:    eventSource,
             date:           "<%= session[:anchor_date].strftime('%a %b %d %Y') %>",
             width:          "85%", 
             intervalUnit:   Timeline.DateTime.<%= session[:interval_unit1] %>,
             multiple:       <%= session[:multiple1] %>,
             intervalPixels: 50/<%= session[:multiple1] %>,
             theme:          theme,
             backgroundColor: "#D8CAA8"
             }),
          Timeline.createBandInfo({
             eventSource:    eventSource,
             date:           "<%= session[:anchor_date].strftime('%a %b %d %Y') %>",
             width:          "15%", 
             intervalUnit:   Timeline.DateTime.<%= session[:interval_unit2] %>,
             multiple:       <%= session[:multiple2] %>,
             intervalPixels: 100/<%= session[:multiple2] %>,
             theme:          theme,
             layout:         'overview'
             })
        ];
        bandInfos[1].syncWith = 0;
        bandInfos[1].highlight = true;

        tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);
        Timeline.loadXML("simile.gen.xml", function(xml, url) { eventSource.loadXML(xml, url); });

        // disable draggability by overriding _onMouseDown function removing 
        // any dragging related functionality
        Timeline._Band.prototype._onMouseDown=function(B,A,C){
          this.closeBubble();
          this._dragging = false;
        };
        Timeline._Band.prototype._onDblClick=function(C,B,E){
        };
      }

      var resizeTimerID = null;
      function onResize() {
         if (resizeTimerID == null) {
             resizeTimerID = window.setTimeout(function() {
                 resizeTimerID = null;
                 tl.layout();
             }, 500);
         }
      }
    </script>
