<div id="timeline-with-buttons">
 
    <div id="bgPopup"></div>
    <div id="popup">
      <a id="popupClose">x</a>  
      <%= render :partial => "new" %> 
    </div>

    <table style="border-spacing:0px 0px;"}><tr>
	<td>
	  <div id="my-timeline"></div>
	</td>
	<td>
	  <div id="buttons">
	    <div id="new-event-button"></div>
	    <div id="button-terminator"></div>
	    <div class="clear"></div>
	  </div>
	</td>
    </tr></table>

    <noscript>
    This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
    </noscript>
</div>

    <script type="text/javascript">
      function show_popup() {
        $('#bgPopup').fadeIn('fast');
        $('#popup').fadeIn('fast');
      }
      function close_popup() {
        $('#bgPopup').fadeOut('fast');
        $('#popup').fadeOut('fast');
      }
      $(document).ready(function(){  
        $("#new-event-button").click(function() {
          show_popup();
        });
        $("#popupClose").click(function(){
          close_popup();
        });
      });
    </script>

    <script>
      var tl;
      function onLoad() {
        var eventSource = new Timeline.DefaultEventSource();
        var theme = Timeline.ClassicTheme.create(); // create the theme
        theme.event.track.gap = 8;
        theme.event.track.height = 1;
        theme.event.duration.color = "#998000";
        theme.event.instant.icon = "images/green-circle.png";
        //theme.event.label.lineColor = "#225915"; - NOT WORKING
        theme.event.label.width = 400;
        theme.event.label.offsetFromLine = 7;

        var bandInfos = [
          Timeline.createBandInfo({
             eventSource:    eventSource,
             date:           "<%= @anchorDate %>",
             width:          "85%", 
             intervalUnit:   Timeline.DateTime.<%= @intervalUnit1 %>,
             intervalPixels: 50,
             theme:          theme,
             backgroundColor: "#D8CAA8"
             }),
          Timeline.createBandInfo({
             date:           "<%= @anchorDate %>",
             eventSource:    eventSource,
             width:          "15%", 
             intervalUnit:   Timeline.DateTime.<%= @intervalUnit2 %>,
             intervalPixels: 100,
             theme:          theme,
             layout:         'overview'
             })
        ];
        bandInfos[1].syncWith = 0;
        bandInfos[1].highlight = true;

        tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);
        Timeline.loadXML("simile.gen.xml", function(xml, url) { eventSource.loadXML(xml, url); });
      }

      var resizeTimerID = null;
      function onResize() {
         if (resizeTimerID == null) {
             resizeTimerID = window.setTimeout(function() {
                 resizeTimerID = null;
                 tl.layout();
             }, 500);
         }
      }
    </script>
