<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>Events</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%= stylesheet_link_tag "express-css-table-design" %>
<%= stylesheet_link_tag "page" %>
</head>

<body>

<div id="master">

<div id="header">
  <div id="logo"><%= image_tag("blue-sky-clock-small.jpg", :alt => 'Logo') %></div>
  <div id="picture"><%= image_tag("blue-right.png", :alt => 'Picture') %></div>
  <div id="navbar">Navbar items go here</div>
</div>

<div id="bodywrap">
<%= yield %>
</div>

</div> <!-- master ends -->
</body>

</html>
